.term
      {
        padding-top: 20px;
      }
     
      .terms-checkbox-label
      {
        overflow: visible;
        text-overflow: initial;
        white-space: initial;
        opacity: 0.5;
        font-size: 14px;
        font-weight: bold;
      }
     
      .alert
      {
        color: red;
      }

      .mensaje-error{
        color: rgb(245, 166, 172);
        font-size: 12px;
        font-style: italic; 
    }