<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>
          <img src="assets/img/logo.png" width="30" height="40" />
    </ion-title>
  </ion-toolbar> 
</ion-header>

<ion-content>
  <ion-grid>
      <ion-row text-center>
          <ion-col size="3" *ngFor="let icono of iconos">
              <div class="image-container" [style.background-image]="'url(assets/servicios/'+icono.iconoservicio+'.png)'" (click)="valoraciones(icono.idservicio,icono.descripcionservicio,icono.nombreservicio,icono.iconoservicio)"></div>
              <div class="servicio">{{icono.nombreservicio}}</div>
          </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar color="tertiary">
      <ion-title text-center color="light">Servicios</ion-title>
  </ion-toolbar>
</ion-footer>
