<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons *ngIf="valoraciones !=null" slot="end" color="secondary" (click)="eliminar(-1)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-buttons>
    <ion-title text-center>
          <img src="assets/img/logo.png" width="30" height="40" />
    </ion-title>
  </ion-toolbar> 
</ion-header>

<ion-content>
  <ion-list *ngIf = "valoraciones != null">
      <ion-item-divider color="primary">
      <ion-label>
        Puntuaciones
      </ion-label>
    </ion-item-divider>
      <ng-container *ngFor="let val of valoraciones">

        <ion-item-sliding *ngIf="val.tipo == 'rango' && val.tipo_rango == 'emoticon'">
            <ion-item >
              <ion-label text-wrap>
                  <h2>{{val.servicio}}</h2>
                  <p>{{val.fecha}}</p>
              </ion-label>
                <ion-thumbnail slot="end">
                <div class="image-container" [style.background-image]="'url(assets/rangos/'+val.valoracion+'.png)'"></div>                 
              </ion-thumbnail>
              </ion-item>
            <ion-item-options side="end" (click)="eliminar(val.idvaloracion_hecha)">
                <ion-item-option color="danger">
                  <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>

        <ion-item-sliding *ngIf="val.tipo == 'rango' && val.tipo_rango == 'numerico'">
            <ion-item >
                <ion-label text-wrap>
                <h2>{{val.servicio}}</h2>
                <p>{{val.fecha}}</p>
                </ion-label>
                <ion-thumbnail slot="end">
                <div class="image-container" [style.background-image]="'url(assets/numeros/'+val.valoracion+'.png)'"></div>            
              </ion-thumbnail>
            </ion-item>
            <ion-item-options side="end" (click)="eliminar(val.idvaloracion_hecha)">
                <ion-item-option color="danger">
                  <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>

        <ion-item-sliding *ngIf="val.tipo == 'rango' && val.tipo_rango == 'texto'">
          
            <ion-item>
              <ion-label text-wrap>
                  <h2>{{val.servicio}}</h2>
                  <p>{{val.fecha}}</p>
              </ion-label>
                                      
                      <ng-container *ngIf="val.valoracion == 1">
                            <h6>Malo</h6>
                      </ng-container>
                      <ng-container *ngIf="val.valoracion == 2">
                            <h6>Regular</h6>
                      </ng-container>
                      <ng-container *ngIf="val.valoracion == 3">
                            <h6>Bueno</h6>
                      </ng-container>
                      <ng-container *ngIf="val.valoracion == 4">
                            <h6>Muy Bueno</h6>
                      </ng-container>
                      <ng-container *ngIf="val.valoracion == 5">
                            <h6>Excelente</h6>
                      </ng-container>                                      
                
            </ion-item>
          
            <ion-item-options side="end" (click)="eliminar(val.idvaloracion_hecha)">
                <ion-item-option color="danger">
                  <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
      </ng-container>
      <ion-item-divider color="primary">
          <ion-label>
            Observaciones
          </ion-label>
        </ion-item-divider>
    <ng-container *ngFor="let valo of valoraciones">
        <ion-item-sliding *ngIf="valo.tipo == 'reclamo'">
            <ion-item >
                
                <ng-container *ngIf="valo.estado == 'espera'" slot="start">
                  <ion-icon slot="start" name="checkmark"></ion-icon>
                </ng-container>
                <ng-container *ngIf="valo.estado == 'creado'" slot="start">
                  <ion-icon slot="start" name="alarm"></ion-icon>
                </ng-container>
                <ng-container *ngIf="valo.estado == 'terminado'" slot="start">
                  <ion-icon slot="start" name="done-all"></ion-icon>
                </ng-container>
                <ng-container *ngIf="valo.estado == 'vencido'" slot="start">
                  <ion-icon slot="start" name="close-circle-outline"></ion-icon>
                </ng-container>
                <ion-label text-wrap>
                    <h2>{{valo.servicio}}</h2>  
                    <h6>{{valo.valoracion}}</h6>
                    <p>{{valo.fecha}}</p>
                </ion-label>
              
                     <ion-thumbnail *ngIf = "valo.foto != ''" slot="end">
                        <img src="{{valo.foto}}" >
                    </ion-thumbnail>
          </ion-item>
          
            <ion-item-options side="end" (click)="eliminar(valo.idvaloracion_hecha)">
                <ion-item-option color="danger">
                  <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ng-container>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="tertiary">
      <ion-title text-center color="light">Mis Valoraciones</ion-title>
  </ion-toolbar>
</ion-footer>
