<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title text-center>
              <img src="assets/img/logo.png" width="30" height="40" />
        </ion-title>
      </ion-toolbar> 
</ion-header>


<ion-content padding>            
              <ion-list>
                  <ion-item text-wrap>
                            <ion-thumbnail slot="start" *ngIf="foto != ''">
                                <img src="{{ foto }}">
                            </ion-thumbnail>
                            <ion-thumbnail slot="start" *ngIf="tipo == 'rango' && tipo_rango == 'emoticon'">
                                <div class="image-container" [style.background-image]="'url(assets/rangos/'+valoracion+'.png)'"></div>                 
                            </ion-thumbnail>
                            <ion-thumbnail slot="start" *ngIf="tipo == 'rango' && tipo_rango == 'numerico'">
                                <div class="image-container" [style.background-image]="'url(assets/numeros/'+valoracion+'.png)'"></div>                 
                            </ion-thumbnail>
                            <ion-label text-wrap>
                                    <h2>{{ servicio }}</h2>
                                    <div *ngIf="tipo == 'rango' && tipo_rango == 'texto'"> 
                                            <h4>{{ valoracion }}</h4>
                                    </div>
                                    <div *ngIf="tipo == 'reclamo'"> 
                                            <h4>{{ valoracion }}</h4>
                                    </div>
                                    <h4>{{nombre_ubicacion}}</h4>
                            </ion-label>
                  </ion-item>
                <ion-item text-wrap *ngIf="descripcion != ''">
                        <b>Descripcion:&nbsp;&nbsp;</b> {{descripcion}}
                </ion-item>
                <ion-item text-wrap *ngIf="email != ''">
                        <b>e-Mail:&nbsp;&nbsp;</b> {{email}}
                </ion-item>
             </ion-list>
                  

  <ion-grid>
      <ion-row>
          <ion-col col-12 col-sm>
              <ion-button color="primary" expand="full" size="large" (click)="confirmar()"> 
                 CONFIRMAR
                 <ion-icon name="checkmark"></ion-icon> 
              </ion-button>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col col-12 col-sm>
              <ion-button color="primary" expand="full" size="large" (click)="cancelar()"> 
        CANCELAR    
        <ion-icon name="close"></ion-icon>
     </ion-button>
          </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar color="tertiary">
      <ion-title text-center color="light">Confirmación</ion-title>
  </ion-toolbar>
</ion-footer>